extends ../_layout.jade
block content
  .container
    .row
      
      include ../includes/_knoledgemenu.jade
      +subNav('user')

      .bs-callout.bs-callout-default
        h4 User Facts and Knowledge
        p This table is filled by though conversation and using 
          b ^save(key,value) 
          | and 
          b`^createUserFact(s,p,o)`
      

      table.table.table-bordered.table-condensed
        thead
          tr
            th Subject
            th Predicate
            th Object
            th Action

        - for (var i = 0; i < concepts.length; i++)
          tr 
            td= concepts[i].subject
            td= concepts[i].predicate
            td= concepts[i].object
            td
              a(data-s="#{concepts[i].subject}", data-p="#{concepts[i].predicate}", data-o="#{concepts[i].object}").js-del.btn.btn-danger.btn-xs Delete

    script.

      $(".js-del").click(function(e){
        var s = $(e.target).data('s');
        var p = $(e.target).data('p');
        var o = $(e.target).data('o');

        swal({
          title: "Are you sure?",   
          text: "You will not be able to recover this fact!",   
          type: "warning",   
          showCancelButton: true,   
          confirmButtonColor: "#DD6B55",   
          confirmButtonText: "Yes, delete it!",   
          closeOnConfirm: true 
        }, function(){   
          $.ajax({ 
            url: '/knowledge/user/',
            type: 'DELETE',
            data: {
              s: s,
              p: p,
              o: o
            },
            success: function(result) {
              $(e.target).parents('tr').remove();
            }
          });
        });
      });


