extends ../_layout.jade
block content
  .container
    .row
      .page-header
        h1 Topic '#{topic.name}'
        a.btn.btn-primary.pull-right(href="/gambits/new?topicId=#{topic._id}") Create New Gambit

        - if (success_messages.length != 0)
          p.bg-success= success_messages

        //- code
        //-   pre= topic

        ul
          - for (var i = 0; i < topic.gambits.length; i++)
            li
              a(href="/gambits/#{topic.gambits[i]._id}")= topic.gambits[i].input
              ul
                - for (var j = 0; j < topic.gambits[i].replies.length; j++)
                  li= topic.gambits[i].replies[j].reply