extends ../_layout.jade
block content
  .container
    .row
      .page-header
        h1 Edit Gambit

        - if (success_messages.length != 0)
          p.bg-success= success_messages

        //- code
        //-   pre= gambit

    - if (error_messages.length != 0)
      p.bg-warning= error_messages

    form.form-horizontal(action="/gambits/#{gambit._id}", method="post")
      input(type="hidden", name="_method", value="put")
      .form-group
        label.col-sm-2.control-label(for='formName') Input
        .col-sm-10
          input#formName.form-control.input-lg(type='text', name="input", placeholder='Input', value='#{gambit.input}')
      .form-group
        .col-sm-offset-2.col-sm-10
          .checkbox
            label
              if gambit.isQuestion
                input#js-isQuestion(type='checkbox', name="isQuestion", checked="true") 
                | Match Questions
              else 
                input#js-isQuestion(type='checkbox', name="isQuestion") 
                | Match Questions

      .form-group.js-questionType
        label.col-sm-2.control-label(for='reply') Question Type
        .col-xs-3
          select#qtype.form-control(name="qType")
            option(value="") None
            if gambit.qType == "WH"
              option(value="WH" selected="") Question word
            else 
              option(value="WH") Question word
            
            if gambit.qType == "YN"
              option(value="YN" selected="") Yes/No
            else
              option(value="YN" ) Yes/No

            if gambit.qType == "TG"
              option(value="TG" selected="") Tag Question
            else
              option(value="TG") Tag Question

            if gambit.qType == "CH"
              option(value="CH" selected="") Choice Question
            else
              option(value="CH") Choice Question
            
            

      #replyGroup

      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-default(type='submit') Update Gambit

      script.
        $.get("/gambits/#{gambit._id}/replies", function(replies){
          for (var i = 0; i < replies.length; i++) {
            var reply = ich.reply(replies[i]);
            $('#replyGroup').append(reply);
          }

          var reply = ich.reply({});
          $('#replyGroup').append(reply);
        });


        // Edit Reply
        $("#replyGroup").on({
          click:function(e){
            e.preventDefault();
            var $group = $(this).parents('.js-reply-group');
            var replyId = $group.data('id');
            var replyString = $group.find('input').val();

            if (replyString === "") {
              swal("Ooops...", "Reply can not be empty", "error"); 
            } else {
              $.ajax({ 
                url: '/gambits/#{gambit._id}/reply/' + replyId, 
                type: 'PUT',
                data: {
                  reply: replyString
                },
                success: function(result) {
                  swal("Sweet", "Reply has been updated", "success"); 
                }
              });
            }
          }
        }, ".js-replyEdit");

        // Add Reply
        $("#replyGroup").on({
          click:function(e){
            e.preventDefault();
            $group = $(this).parents('.js-reply-group');
            var replyString = $group.find('input').val();

            if (replyString === "") {
              swal("Ooops...", "Reply can not be empty", "error"); 
            } else {
              $.ajax({ 
                url: '/gambits/#{gambit._id}/reply', 
                type: 'POST',
                data: {
                  reply: replyString
                },
                success: function(result) {
                  var reply = ich.reply(result);
                  $group.before(reply);
                  $group.find('input').val("");
                  //- $('#replyGroup').append(reply);
                }
              });
            }

          }
        }, ".js-replyAdd");
        
        // Remove Reply
        $("#replyGroup").on({
          click:function(e){
            e.preventDefault();
            var $group = $(this).parents('.js-reply-group');
            var replyId = $group.data('id')
            swal({
              title: "Are you sure?",   
              text: "You will not be able to recover this reply!",   
              type: "warning",   
              showCancelButton: true,   
              confirmButtonColor: "#DD6B55",   
              confirmButtonText: "Yes, delete it!",   
              closeOnConfirm: true 
            }, function(){   
              $.ajax({ 
                url: '/gambits/#{gambit._id}/reply',
                type: 'DELETE',
                data: {
                  replyId: replyId
                },
                success: function(result) {
                  $group[0].remove();
                }
              });
            });
          }
        }, ".js-replyDelete");

        

        if (!$('input#js-isQuestion').is(':checked')) {
          $('.js-questionType').addClass('hidden');
        }

        $("#js-isQuestion").click(function(e){
          $('.js-questionType').toggleClass('hidden');
        });
        

      script(id="reply" type="text/html").
        <div class="form-group js-reply-group" data-id="{{_id}}">

          <label class="col-sm-2 control-label">Reply</label>

          <div class="col-sm-6 col-sm-offset-2.col-sm-offset-2">
            <input class="form-control typeahead" placeholder="Reply" value="{{reply}}">
          </div>
          <div class="col-sm-4">
            {{#reply}}
              <a href="#" class="js-replyEdit btn btn-success">
                <span class="glyphicon glyphicon-pencil" aria-hidden='true'>
              </a>
              &nbsp;
              <a href="#" class="js-replyDelete btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden='true'>
              </a>
            {{/reply}}

            {{^reply}}
              <a href="#" class="js-replyAdd btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden='true'>
              </a>
            {{/reply}}

          </div>
        </div>


